<div class = "container">
  <div class ="row">

<div class = "col-xs-3">
        <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image,:fill, 60,60, format: "jpeg",fallback:"no_image.jpg"%>
        <%= render 'books/relationship',user:@user %>
          <h3>name</h3>
          <p><%= @user.name %></p>
          <h3>introduction</h3>
         <p><%= @user.introduction %></p>
         <% if @user.id == current_user.id %>
         <div class="row">
  　　　　<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" href="/users/<%= current_user.id %>/edit"></a>
　　　　　</div>
         <% end %>

        <%= form_for(@book) do |f| %>

        <% if @book.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <ul>
              <h2>error</h2>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


              <h3>New book</h3>
             <%= render 'books/form',book: @book,user: @user %>
           
          <% end %>
    </div>


    <div class = "col-xs-9">
      <div class="main users-index">
        <div class="container">
          <h1 class="users-heading">Users</h1>

            <table class = "table table-striped">
                <thead>
                  <tr>
                    <th>image</th>
                    <th>name</th>
                  </tr>
                </thead>


                <tbody>
                    <% @users.each do |user| %>
                      <div class="users-index-item">
                        <div class="user-right">
                          <tr>
                          <td><%= attachment_image_tag user, :profile_image,:fill, 60,60, format: "jpeg",fallback:"no_image.jpg"%></td>
                          <td><%= user.name %></td>
                          <td><%=link_to("Show","/users/#{user.id}")%></td>
                         <td>
                          <% if current_user.following?(user) %>
                            <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
                          <% else %>
                            <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
                          <% end %>
                        </td>
                        <td><%= "follow: #{@user.follower.count}" %>      
                        <%= "follower: #{@user.followed.count}" %></td>
                        </tr>
                        </div>
                      </div>
                    <% end %>
                </tbody>
          </table>
        </div>
      </div>
      <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
    </div>