<tr id = "book_comment-<%= book_comment.id %>">
      <% if book_comment.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% book_comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

        <td>コメント数"<%= book.book_comments.count %>"</td>

        <td><%= form_with(model: [book,book_comment]) do |f| %>
            <div class="row">
                <div class="col-sm-12">
                    <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
                </div>
            </div>
            <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %></td>
          </tr>
       </tbody>
     </table>



    <td>
        <% book.book_comments.each do |book_comment| %>
                <div class="comment-body bb">
                    <div class="comment-avatar">
                        <div class="avatar">
                            <%= attachment_image_tag book_comment.user, :profile_image,:fill, 60,60, format: "jpeg",fallback:"no_image.jpg"%>
                        </div>
                    </div>
                    <div class="comment-text">
                        <div class="comment-author clearfix">
                            <a href="#" class="link-author"><%= book_comment.user.name %></a>
                            <span class="comment-meta">
                              <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
                            </span>
                        </div>
                        <div class="comment-entry"><%= book_comment.comment %></div>
                    </div>
                </div>
        <% end %>
    </td>
</tr>