<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

<style>
header{
  background-color: black;
}
span {
  color:white;
}
</style>

  <body>
<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
  <header>
          <div class="container">
            <nav class="nav navbar-nav navbar-left">
              <h3><%= link_to "Bookers",root_path %></h3>
            </nav>
            <nav>
              <% if user_signed_in? %>
              <ul class="nav navbar-nav navbar-right">
                  <li><a class="glyphicon glyphicon-home home" href="/users/<%= current_user.id %>"> Home</a></li>
                  <li><a class="glyphicon glyphicon-user users" href="/users"> Users</a></li>
                  <li><a class="glyphicon glyphicon-book books" href="/books"> Books</a></li>
                  <li><a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
              </ul>
            </nav>
          </div>
        <% else %>
            <nav>
              <ul class="nav navbar-nav navbar-right">
                  <li><a class="glyphicon glyphicon-home home" href="/"> 商品一覧</a></li>
                  <li><a class="glyphicon glyphicon-link about" href="/home/about"> </a></li>
                  <li><a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up"> 新規登録</a></li>
                  <li><a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in"> ログイン</a></li>
              </ul>
            </nav>
         <% end %>
</header>


    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
